<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <description>
		</description>
    <display-name>IndexFilter</display-name>
    <filter-name>IndexFilter</filter-name>
    <filter-class>by.gsu.isheremetov.phonestation.filters.IndexFilter</filter-class>
  </filter>
  <filter>
    <description>
		</description>
    <display-name>CabinetFilterAuthorization</display-name>
    <filter-name>CabinetFilterAuthorization</filter-name>
    <filter-class>by.gsu.isheremetov.phonestation.filters.CabinetFilterAuthorization</filter-class>
  </filter>
  <filter>
    <display-name>AdministratorFilter</display-name>
    <filter-name>AdministratorFilter</filter-name>
    <filter-class>by.gsu.isheremetov.phonestation.filters.AdministratorFilter</filter-class>
  </filter>
  <filter>
    <display-name>ServicesFilter</display-name>
    <filter-name>ServicesFilter</filter-name>
    <filter-class>by.gsu.isheremetov.phonestation.filters.ServicesFilter</filter-class>
  </filter>
  <filter>
    <description>
		</description>
    <display-name>DialoguesFilter</display-name>
    <filter-name>DialoguesFilter</filter-name>
    <filter-class>by.gsu.isheremetov.phonestation.filters.DialoguesFilter</filter-class>
  </filter>
  <filter>
    <display-name>UserlistFilter</display-name>
    <filter-name>UserlistFilter</filter-name>
    <filter-class>by.gsu.isheremetov.phonestation.filters.UserlistFilter</filter-class>
  </filter>
  <filter>
    <display-name>PurseFilter</display-name>
    <filter-name>PurseFilter</filter-name>
    <filter-class>by.gsu.isheremetov.phonestation.filters.PurseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CabinetFilterAuthorization</filter-name>
    <url-pattern>/cabinet.jsp</url-pattern>
    <url-pattern>/jsp/user/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdministratorFilter</filter-name>
    <url-pattern>/admin.jsp</url-pattern>
    <url-pattern>/jsp/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServicesFilter</filter-name>
    <url-pattern>/jsp/user/services.jsp</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DialoguesFilter</filter-name>
    <url-pattern>/jsp/user/dialogues.jsp</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserlistFilter</filter-name>
    <url-pattern>/jsp/admin/userlist.jsp</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PurseFilter</filter-name>
    <url-pattern>/jsp/user/purse.jsp</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>Authorization</servlet-name>
    <servlet-class>by.gsu.isheremetov.phonestation.servlets.user.Authorization</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>by.gsu.isheremetov.phonestation.servlets.user.Registration</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ServicesEdit</display-name>
    <servlet-name>ServicesEdit</servlet-name>
    <servlet-class>by.gsu.isheremetov.phonestation.servlets.services.ServicesEdit</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SetLocale</display-name>
    <servlet-name>SetLocale</servlet-name>
    <servlet-class>by.gsu.isheremetov.phonestation.servlets.locale.SetLocale</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ATS</display-name>
    <servlet-name>ATS</servlet-name>
    <servlet-class>by.gsu.isheremetov.phonestation.servlets.admin.ats.ATS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authorization</servlet-name>
    <url-pattern>/Authorization</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServicesEdit</servlet-name>
    <url-pattern>/ServicesEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetLocale</servlet-name>
    <url-pattern>/SetLocale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ATS</servlet-name>
    <url-pattern>/ATS</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/PhoneStation</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>UserlistEdit</display-name>
    <servlet-name>UserlistEdit</servlet-name>
    <servlet-class>by.gsu.isheremetov.phonestation.servlets.user.UserlistEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserlistEdit</servlet-name>
    <url-pattern>/UserlistEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>by.gsu.isheremetov.phonestation.servlets.user.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
</web-app>